
*h5
*.h5
*.hdf5
*/logs/*
*.pyc
*.pkl
run_logs/*

segmentation/run_logs/*
segmentation/run.sh
segmentation/Models/FCN_Vgg_32s/*.h5
segmentation/Models/FCN_Vgg_32s/*.hdf5
segmentation/Models/FCN_Vgg_32s/logs/*
segmentation/Models/FCN_Vgg_16s/logs/*
segmentation/Models/FCN_Vgg_16s/*.h5
segmentation/Models/FCN_Vgg_16s/*.hdf5
segmentation/Models/FCN_Vgg_8s/logs/*
segmentation/Models/FCN_Vgg_8s/*.h5
segmentation/Models/FCN_Vgg_8s/*hdf5
segmentation/Models/VggIFCN/logs
segmentation/Models/VggIFCN/*.h5
segmentation/Models/VggIFCN/*.hdf5
segmentation/Models/VGGUnet/logs
segmentation/Models/VGGUnet/*.h5
segmentation/Models/VGGUnet/*.hdf5


data_processed/*

