*.h5
*.hdf5
*/logs/*
*.pyc
*.pkl
run_logs/*
Keras_FCN/run.sh
Keras_FCN/Models/FCN_Vgg_32s/*.h5
Keras_FCN/Models/FCN_Vgg_32s/*.hdf5
Keras_FCN/Models/FCN_Vgg_32s/logs
Keras_FCN/Models/FCN_Vgg_16s/logs
Keras_FCN/Models/FCN_Vgg_16s/*.h5
Keras_FCN/Models/FCN_Vgg_16s/*.hdf5
Keras_FCN/Models/FCN_Vgg_8s/logs
Keras_FCN/Models/FCN_Vgg_8s/*.h5
Keras_FCN/Models/FCN_Vgg_8s/*hdf5
Keras_FCN/Models/VggIFCN/logs
Keras_FCN/Models/VggIFCN/*.h5
Keras_FCN/Models/VggIFCN/*.hdf5
Keras_FCN/Models/VGGUnet/logs
Keras_FCN/Models/VGGUnet/*.h5
Keras_FCN/Models/VGGUnet/*.hdf5
data_processed/*

